//color 

$color-white: #fff;
$color-green: #19bd9a;
$color-not-white: #f3f3f3;
$color-gray: #81868e;
$color-dark-gray: #464646;
$color_dark: #333b46;

//font-size

$font-size-base: 14px;
$font-size-bigger: 16px;
$font-size-h1: 35px;
$font-size-h2: 20px;
$font-size-h3: 20px;

//fonts

$basicFont: 'Open Sans', sans-serif;
$fontSourseSansPro: 'Source Sans Pro', sans-serif;