.testimonials {
    padding-bottom: 100px;
    background-color: $color-not-white;

    &__title {
        padding: 75px 0 27px;
        letter-spacing: 3px;
    }

    &__discription {
        padding: 0 20px 53px;
        font-size: $font-size-bigger;
        color: $color-dark-gray;
    }

    &__image {
        width: 29%;
        margin-right: 73px;
    }

    &__text {
        padding-bottom: 30px;
    }
}

.slider-wrapper {
    padding-bottom: 45px;
    background-color: $color-white;
}

.testimonials-slider-box {
    display: flex !important; /* for Slider */
    padding: 55px 120px 45px 100px;
}

.name {
    display: block;
    text-transform: uppercase;
    color: $color-green;
    font-weight: 700;
}

.position {
    text-transform: uppercase;
}